<style>
body{background-color: #E3F3F7;
          }
hr{background-color: #E3F3F7;
    border-style: none;
     border-top-style: dotted;
     width: 10%;
     border-color: grey;
     border-width: 5px;
     }


</style>
